@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c1: rgba(255, 255, 255, 0.2);
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --foreground-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
}

#nav-links-mob {
  background-color: #4f528e;
  backdrop-filter: blur(200px);
  transform-origin: top right;
  animation: expandMenu 0.3s ease-in-out 0.1s forwards;
}

@keyframes expandMenu {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.area {
  position: absolute;
  /* Ensure positioning context */
  height: 100vh;
  /* Full viewport height */
  background: #15184d;
  background: -webkit-linear-gradient(to left, #4f528e, #15184d);
}

.circles {
  position: relative;
  /* Position relative to .area */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: var(--c1);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@media (max-width: 692px) {
  #nav-links-lap {
    display: none;
  }

  .project-card {
    height: 350px;
    width: 300px;
  }

}

@media (min-width: 692px) {
  .project-card {
    height: 400px;
    width: 350px;
  }
}

.grad-text {
  font-size: 4rem;
  background: linear-gradient(90deg, #9FA4C4 -1.72%, #B3CDD1 54.05%, #9FA4C4 99.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#project-cont {
  width: 1200px;
}

.project-card {
  background: var(--c1);
  color: black;
}

.project-card .img-container {
  height: 50%;
  width: 99%;
  margin: 0 auto;
}

.project-card a,
.ind-btns {
  background: rgba(23, 17, 17, 0.2);
}

.project-card a:hover,
.ind-btns:hover {
  background: rgba(63, 51, 51, 0.2);
}

.green-text-gradient {
  background: #51ff33;
  background: linear-gradient(to top, #51ff33, #03ff29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.blue-text-gradient {
  background: #33cccc;
  background: linear-gradient(to top, #33cccc, #03ccff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ff33cc;
  background: linear-gradient(to top, #ff33cc, #ff03ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.comp {
  color: whitesmoke;
}

.msg-box-h {
  font-size: 60px;
  background: linear-gradient(90deg, #9FA4C4 -1.72%, #B3CDD1 54.05%, #9FA4C4 99.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.exp-card {
  background: var(--c1);
}

#contact-box {
  backdrop-filter: blur(200px);
  background-color: rgba(223, 211, 211, 0.088);
}